<h1>Letters Index!</h1>

<p>
  <strong>Aloha Editable:</strong><br><br>
  <div id="editable">
  	<p>This line is editable thanks to aloha</p>
  </div>
</p>

<script type="text/javascript">
	aloha(document.querySelector('#editable'));
</script>