<div class="modal-wrapper">
	<div class="modal">
		<h1>Letters Index!</h1>
		<p><strong>Aloha Editable:</strong></p><br>
		<div id="editable">
			<p>This line is editable thanks to aloha</p>
		</div>
	</div>
</div>

<script type="text/javascript">
	aloha(document.querySelector('#editable'));
</script>