<div class="modal-wrapper" id="newLetterWrapper">
	<div class="modal" id="newLetter">
		<h2>New Letter</h2>
		<%= render 'form' %>
		<%= link_to 'Back to correspondents', correspondents_path %>
	</div>
</div>