<p>
  <strong>Correspondent ID:</strong>
  <%= @correspondent.id %>

  <strong>User ID:</strong>
  <%= @correspondent.user_id %>

  <strong>User:</strong>
  <%= @correspondent.user.username %>
</p>


<%= link_to 'Back', correspondents_path %>
